@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Josefin+Sans&family=Signika+Negative&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #8789C0;
  font-family: sans-serif;
}

.main {
  padding: 20px;
  margin: 20px;
  background-color: rgba(132, 221, 228, .3);
}

.name {
  display: flex;
  flex-direction: column;
}

.image {
  display: flex;
  justify-content: center;
}


div > h2, .nah > div > h1 {
  color: #111D4A;
  font-family: 'Josefin Sans', sans-serif;
}

.profile p, .personality p, .name p {
  color: #4A4F80;
}

.profile, .personality {
  display: flex;
  flex-direction: column;
}

h2 + p, h1 + p {
  font-size: 18px;
}

.profile > p, .personality > p, .name > p {
  font-family: 'Heebo', sans-serif;
}

.main > .nah > .name > h1, p {
  color: #2E3665;
}

.main .subtitle {
  text-decoration: underline;
}

a, a:visited, a:active {
  color: #2E3665;
}

a:hover {
  color: #66BDD0;
}
